<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Church Financial Record Keeping</display-name>
  <session-config>
	<session-timeout>15</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>Member Servlet</servlet-name>
    <servlet-class>church.finance.MemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Member Servlet</servlet-name>
    <url-pattern>/member</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoggingServlet</display-name>
    <servlet-name>LoggingServlet</servlet-name>
    <servlet-class>church.finance.LoggingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoggingServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OperationsServlet</display-name>
    <servlet-name>OperationsServlet</servlet-name>
    <servlet-class>church.finance.OperationsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperationsServlet</servlet-name>
    <url-pattern>/addMember</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OperationsServlet</servlet-name>
    <url-pattern>/memberUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OperationsServlet</servlet-name>
    <url-pattern>/memberDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OperationsServlet</servlet-name>
    <url-pattern>/addFund</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>OperationsServlet</servlet-name>
    <url-pattern>/updateFund</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OperationsServlet</servlet-name>
    <url-pattern>/deleteFund</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OperationsServlet</servlet-name>
    <url-pattern>/addDonation</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>OperationsServlet</servlet-name>
    <url-pattern>/updateDonation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OperationsServlet</servlet-name>
    <url-pattern>/deleteDonation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OperationsServlet</servlet-name>
    <url-pattern>/memberPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OperationsServlet</servlet-name>
    <url-pattern>/fundPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OperationsServlet</servlet-name>
    <url-pattern>/donationPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OperationsServlet</servlet-name>
    <url-pattern>/reportPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OperationsServlet</servlet-name>
    <url-pattern>/getReport</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OperationsServlet</servlet-name>
    <url-pattern>/getPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OperationsServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
</web-app>